<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hospital">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AppIntroActivity"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Services_offered"/>
        <activity android:name=".Doctors_available"/>
        <activity android:name=".Doctor"/>
        <activity android:name=".Register"/>
        <activity android:name=".Login"/>
        <activity android:name=".Apply"/>
        <activity android:name=".Appointment"/>
        <activity android:name=".Assign_Staff"/>
        <activity android:name=".Assigned_Doctors"/>
        <activity android:name=".Bills"/>
        <activity android:name=".Confirmed_Appointment"/>
        <activity android:name=".D_Slot"/>
        <activity android:name=".Delete_Users"/>
        <activity android:name=".Feedback"/>
        <activity android:name=".Final_View_Report"/>
        <activity android:name=".New_Appointment"/>
        <activity android:name=".Leaves"/>
        <activity android:name=".Remaining_patient_bills"/>
        <activity android:name=".Select_Doctor"/>
        <activity android:name=".Specialization"/>
        <activity android:name=".View_Assigned_Staff"/>
        <activity android:name=".Patient"/>
        <activity android:name=".Wait_Appointment"/>
        <activity android:name=".View_Leaves"/>
        <activity android:name=".Staff_Member"/>
        <activity android:name=".Personal_Info"/>
        <activity android:name=".Report_Upload"/>
        <activity android:name=".Write_Report"/>
        <activity android:name=".View_Report"/>
        <activity android:name=".Update"/>
        <activity android:name=".Grant_appointment"/>
        <activity android:name=".Desktop_Admin"/>
    </application>

</manifest>